@mixin font-regular() {
  font-family: 'JosefinSans-Regular', sans-serif;
}

@mixin font-italic() {
  font-family: 'JosefinSans-Italic', sans-serif;
}

@mixin font-size-wtf() {
  font-size: 11px;
  line-height: 16px;
}

@mixin font-size-8() {
  font-size: 8px;
  line-height: 12px;
}

@mixin font-size-10() {
  font-size: 10px;
  line-height: 16px;
}

@mixin font-size-11() {
  font-size: 11px;
  line-height: 16px;
}

@mixin font-size-12() {
  font-size: 12px;
  line-height: 16px;
}

@mixin font-size-13() {
  font-size: 13px;
  line-height: 20px;
}

@mixin font-size-14() {
  font-size: 14px;
  line-height: 20px;
}

@mixin font-size-15() {
  font-size: 15px;
  line-height: 20px;
}

@mixin font-size-16() {
  font-size: 16px;
  line-height: 20px;
}

@mixin font-size-17() {
  font-size: 17px;
  line-height: 24px;
}

@mixin font-size-18() {
  font-size: 18px;
  line-height: 24px;
}

@mixin font-size-19() {
  font-size: 19px;
  line-height: 24px;
}

@mixin font-size-20() {
  font-size: 20px;
  line-height: 24px;
}

@mixin font-size-21() {
  font-size: 21px;
  line-height: 28px;
}

@mixin font-size-22() {
  font-size: 22px;
  line-height: 28px;
}

@mixin font-size-23() {
  font-size: 23px;
  line-height: 28px;
}

@mixin font-size-24() {
  font-size: 24px;
  line-height: 28px;
}

@mixin font-size-25() {
  font-size: 25px;
  line-height: 32px;
}

@mixin font-size-26() {
  font-size: 26px;
  line-height: 32px;
}

@mixin font-size-28() {
  font-size: 28px;
  line-height: 32px;
}

@mixin font-size-30() {
  font-size: 30px;
  line-height: 36px;
}

@mixin font-size-31() {
  font-size: 31px;
  line-height: 36px;
}

@mixin font-size-32() {
  font-size: 32px;
  line-height: 36px;
}

@mixin font-size-34() {
  font-size: 34px;
  line-height: 40px;
}

@mixin font-size-35() {
  font-size: 35px;
  line-height: 40px;
}

@mixin font-size-36() {
  font-size: 36px;
  line-height: 40px;
}

@mixin font-size-38() {
  font-size: 38px;
  line-height: 44px;
}

@mixin font-size-40() {
  font-size: 40px;
  line-height: 44px;
}

@mixin font-size-41() {
  font-size: 41px;
  line-height: 48px;
}

@mixin font-size-42() {
  font-size: 42px;
  line-height: 48px;
}

@mixin font-size-44() {
  font-size: 44px;
  line-height: 48px;
}

@mixin font-size-45() {
  font-size: 45px;
  line-height: 52px;
}

@mixin font-size-47() {
  font-size: 47px;
  line-height: 52px;
}

@mixin font-size-48() {
  font-size: 48px;
  line-height: 52px;
}

@mixin font-size-50() {
  font-size: 50px;
  line-height: 56px;
}

@mixin font-size-54() {
  font-size: 54px;
  line-height: 60px;
}

@mixin font-size-59() {
  font-size: 59px;
  line-height: 64px;
}

@mixin font-size-60() {
  font-size: 60px;
  line-height: 64px;
}

@mixin font-size-70() {
  font-size: 70px;
  line-height: 76px;
}

@mixin font-size-90() {
  font-size: 90px;
  line-height: 96px;
}
