@import 'styles/index';

.header {
  background: $color-background;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @include screen-320 {
    justify-content: center;
  }

  @include min-screen-480 {
    justify-content: flex-start;
  }
}
