@import 'styles/index';

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include screen-320 {
    width: 100%;
  }

  @include min-screen-480 {
    flex-direction: row;
  }

  &__link {
    @include font-size-14;
    text-decoration: none;
    color: #FFFFFF;
    padding: 4px 32px;
    cursor: pointer;
    transition: background-color .4s ease;

    @include screen-320 {
      width: 100%;
    }

    @include min-screen-480 {
      @include font-size-16;
      padding: 16px;
    }

    &:hover {
      background-color: #8FBC8F;
    }
  }
}