@import 'styles/index';

.overview {
  @include font-size-16;
  display: flex;
  color: grey;
  padding: 4px 0 8px 32px;

  @include min-screen-480 {
    @include font-size-18;
    padding: 0 0 0 32px;
  }
}