@import '../../../../styles/index';

.employees-search {
  @include font-size-16;
  display: flex;
  background-color: #DCDCDC;
  padding: 8px 0 10px 32px;
  margin-bottom: 0;

  @include min-screen-480 {
    @include font-size-18;
    padding: 4px 0 4px 32px;
  }
}
