@import 'styles/index';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  @include font-regular;
  @include font-size-16;

  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
/*  justify-content: space-between;*/
}
