@import 'styles/index';

.header {
    background: $color-background;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 7vh;

    &__button {
        margin: 8px 15px;
        padding: 0;
        border: none;
        color: inherit;
        background-color: transparent;
        cursor: pointer;

        &:active {
            transform: translateY(1px);
            filter: saturate(150%);
        }

        &:hover {
            background-color: $color-background;
        }
    }
}

.page {
    display: flex;
    min-height: 93vh;
    flex-direction: column;

    &__content {
        display: flex;
        justify-items: center;
        align-items: center;
        flex: 1 0 auto;
        justify-content: center;
    }

    &__footer {
        background: $color-background;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 7vh;
        color: #ffffff;
        /*justify-self: flex-end;*/
        flex: 0 0 auto;
    }
}
