@import 'styles/index';

.search {
  display: flex;
  background-color: lightskyblue;
  padding-left: 20px;
  margin-bottom: 0;
  @include font-size-18;

  @include screen-320 {
    @include font-size-16;
    padding: 10px 0 10px 20px;
  }
}