@import 'styles/index';

@mixin category-style {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  margin: 16px 0;
  height: 208px;
  overflow: hidden;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen-320 {
    flex-flow: row wrap;
  }

    &__top-managers {
      @include category-style;
    }

    &__line-managers {
      @include category-style;
    }

    &__department {
      @include category-style;
    }
}
